<!doctype html>
<html lang="{{ site.Language.Lang | default "zh-CN" }}">
  <head>
    {{ $pageTitle := site.Title }}
    {{ if not .IsHome }}{{ $pageTitle = printf "%s | %s" .Title site.Title }}{{ end }}
    {{ $description := .Description | default site.Params.description }}
    {{ $style := resources.Get "css/archive.css" | minify | fingerprint }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f2f4ef">
    <meta name="color-scheme" content="light">
    <meta name="description" content="{{ $description }}">
    <title>{{ $pageTitle }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
    <link rel="preconnect" href="https://fontsapi.zeoseven.com" crossorigin>
    <link href="https://fontsapi.zeoseven.com/292/main/result.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
  </head>
  <body class="{{ if .IsHome }}is-home{{ end }} page-kind-{{ .Kind }}">
    <a class="skip-link" href="#content">跳到正文</a>
    {{ partial "site-header.html" . }}
    <main id="content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "site-footer.html" . }}
    {{ $script := resources.Get "js/archive.js" | minify | fingerprint }}
    <script defer src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
  </body>
</html>
